body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #87CEFA;
}

.homepage-container {
  text-align: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.club-header {
  margin-bottom: 30px;
}

h1 {
  color: #87CEFA;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.club-button {
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: #fff;
}

.officers {
  background-color: #ff5a5f;
}

.contact {
  background-color: #00b5ad;
}

.join {
  background-color: #ffa24c;
}

.club-button:hover {
  background-color: #ff8a80;
  transform: scale(1.05);
}
.nav {
  display: inline;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #87CEFA; /* light blue color */
  color: #fff;
  padding: 10px;
  z-index: 1;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


.nav a:hover {
  background-color: #555;
  z-index: 1;
}