body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #87CEFA;
}

.contact-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #87CEFA;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.instagram {
  background-color: #87CEFA;
  color: #fff;
}

.email {
  background-color: #87CEFA;
  color: #fff;
}

.linktree {
  background-color: #87CEFA;
  color: #fff;
}

.contact-button:hover {
  background-color: #4682B4;
}